{% extends 'base.html.twig' %}

{%  block content %}

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em;">
        <h1>{{ task.name }}</h1>

        <a class="btn btn-danger" href={{ path('task', { 'projectId': task.project.id }) }}>
            Back to tasks
        </a>
    </div>

    <table class="table">
        <tr>
            <th>Project</th>
            <td>{{ task.project.name }}</td>
        </tr>
        <tr>
            <th>Asignee</th>
            <td>{{ task.user.username }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ task.description }}</td>
        </tr>
    </table>
{%  endblock %}
