{% extends 'base.html.twig' %}

{%  block content %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em;">
        <h1>Tasks of project {{ project.name }}</h1>

        <a class="btn btn-info" href={{ path('addTask', { 'projectId': project.id }) }}>
            Add task
        </a>
    </div>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Project name</th>
            <th>Name</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.project.name }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.created|date('j.n.Y') }}</td>
                <td>
                    <a href={{ path('editTask', { 'id': task.id }) }}>
                        <span class="oi oi-pencil" title="Edit task" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}