{% extends 'base.html.twig' %}

{%  block content %}

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em;">
        <h1>Projects</h1>

        <a class="btn btn-info" href={{ path('addProject') }}>
            Add project
        </a>
    </div>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>
                    <div style="display: flex;">
                        <a style="display: block; margin: 0 5px;" href={{ path('editProject', { 'id': project.id }) }}>
                            <span class="oi oi-pencil" title="Edit project" aria-hidden="true"></span>
                        </a>
                        <a style="display: block; margin: 0 5px;" href={{ path('task', { 'projectId': project.id }) }}>
                            <span class="oi oi-list" title="Show project tasks" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}